body{
   
    background-image: url(../img/fondos/Gotham.jpeg);
    margin: 0px;
    padding: 0px;
}

#cuerpo{
    width: 1335px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);

}
/*cabezera*/
#cabezera{
    width: 1335px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    
}

#img-header{
   
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
#img-header{
    background-image:linear-gradient(to right,rgb(0 0 0 / .5),rgb(0 0 0 / .5)),
     url(../img/dia-programador-recluit.jpg);
 
}
#img-header #box{
    display: block;
    position: relative;
    color: white;
    text-align: center;
    top:50px;    
}
#img-header .texto{
   font-size: 30px ;
}

#img-header img{
    width: 150px;
}

/*menu*/
#menu-header{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    text-align: center;
    height: 20px;
    margin-top: -15px;
}

#menu-header ul{
    padding-left: 20px;
    background: transparent;
}
#menu-header ul li {
    display: inline-block;
    margin: 25px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 70px;
}
#menu-header ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}
#menu-header ul li #facebook:hover{
    color: rgba(8, 162, 223, 0.76);
    transform: scale(1.2,1.2);
}
#menu-header ul li #Instagram:hover{
    color: rgb(204, 56, 223);
    transform: scale(1.2,1.2);
}
#menu-header ul li #git:hover{
    color: rgba(255, 0, 0, 0.616);
    transform: scale(1.2,1.2);
}
#menu-header ul li a .icons{
    width: 25px;
}

/*ITEMS proyectos*/
#items{
    width: 1335px;
    height: 900px;
 
}

#items #main {
    display: flex;
    flex-wrap: wrap;
    
}
#items #main .cards{
    display: block;
    width: 250px;
    height: 330px;
    margin-left: 20px;
    padding: 25px;
    background-color: #05052654;
    border-radius: 25%;
    border: 1px solid rgba(255, 255, 255, 0.459);
    margin: 15px;
    
}
#items #main img{
    display: inline;
    width: 90px;
    margin-top: 20px;
}
#items #main h3{
    text-align: center;
    color: white;

}
#items #main #fecha{
    color: rgba(255, 255, 255, 0.623);
}
#items #main #desc{
    display: block;
    align-content: center;
    color: rgb(255, 255, 255);
}
#items #main button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    background-color: rgba(0, 0, 255, 0.658);
    color: white;
    border-radius: 25px;
    width: 160px;
    height: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
#items #main button:hover{
    background-color: blue;
}

#Foo-footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    margin: 0px;
}
#Foo-footer p{
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}
